.services-card {
    width: 100%;
    color: #000;
    column-gap: 1em;
    align-items: start;
    justify-content: space-between;
    padding: 1.5em 1em;
    cursor: pointer;
    text-align: left;
    border-radius: 10px;
    user-select: none;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right center;
    /* background-color: ; */
}

@media (max-width: 36em) {
    .services-card-desc {
        height: auto !important;
    }
}
.services-card:last-child {
    border-bottom: none;
}

.services-card-step {
    color: var(--);
    font-size: var(--fs-500);
}

.services-card-info {
    width: 85%;
    color: var(--);
    max-width: 650px;
}

.services-card-lead {
    color: #000;
}

.services-card-list {
    display: flex;
    column-gap: 1.5em;
}

.services-card:nth-child(1) {
    --services-cl-base: #4ECDC4;
    --services-cl-icon: var(--);
    color: var(--services-cl-icon);
    /* background-color: var(--services-cl-base); */
    background-color: #FACF55;
}

.services-card:nth-child(2) {
    --services-cl-base: #FF6B6B;
    --services-cl-icon: var(--);
    color: var(--services-cl-icon);
    /* background-color: var(--services-cl-base); */
    background-color: #C8ABE6;
}

.services-card:nth-child(3) {
    --services-cl-base: #FFD93D;
    --services-cl-icon: var(--);
    color: var(--services-cl-icon);
    /* background-color: var(--services-cl-base); */
    background-color: #6EB8E1;
}

.services-card:nth-child(4) {
    --services-cl-base: #9B59B6;
    --services-cl-icon: var(--);
    color: var(--services-cl-icon);
    /* background-color: var(--services-cl-base); */
    background-color: #DFEAB5;
}

.services-card-icon > path {
    fill: var(--);
}

.services-card-desc {
    color: var(--);
    margin-top: var(--sp-400);
    margin-bottom: 0;
    height: 0;
    overflow: hidden;
}

@media (max-width: 36em) {
    .services-card-list {
        flex-wrap: wrap;
        align-items: start;
        justify-content: space-between;
    }
    
    .services-card-item {
        /* flex: 1; */
        margin-bottom: 0.5em;
    }
   
}

@media (min-width: 62em) {
    .services-card-list {
        column-gap: 3em;
    }
}