.hero {
    min-height: calc(100vh - var(--height));
    min-height: 100vh;
    background-color: var(--color-bkgd-200);
    padding-bottom: 0;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-image: radial-gradient(circle at 1px 1px, #ef8c2e 1px, transparent 0);
    background-size: 20px 20px;
    opacity: 0.3;

}

.hero-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--sp-800);
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
    z-index: 1000;
}

.hero-view {
    --size: 400px;
    position: relative;
    margin-bottom: var(--sp-700);
}

.hero-view-blob {
    width: var(--size);
    height: var(--size);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background-image: linear-gradient(135deg,
            hsl(38, 99%, 61%),
            hsl(21, 74%, 51%));
    justify-content: center;
}

.hero-view-haze {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/icons/grain.svg");
    z-index: 1000;
}

.hero-view-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    bottom: 0;
}

.hero-view-tag1 {
    display: none;
    inset: auto auto 20px 0;
}

.hero-view-tag2 {
    display: none;
    inset: 20px 0 auto auto;
}

.hero-info {
    margin-bottom: var(--sp-xl);
}

.hero-info-lead {}

.hero-info-para {}

.hero-info-link {
    color: var(--color-type-400);
    background-color: var(--color-primary-100);
    font-weight: 500;
}

.hero-tape {
    overflow: hidden;
    white-space: nowrap;
    display: none;
}

.hero-tape-col1,
.hero-tape-col2 {
    min-width: 100%;
    animation: tape 10000ms linear infinite;
    white-space: nowrap;
}

.hero-tape-item {
    width: 100%;
    height: 80px;
    filter: brightness(0) invert(0.25);
    border: 1px solid;
    border-right: transparent;
}

.hero-tape-item:nth-child(2)>img {
    scale: 1.5;
}

.hero-tape-item:nth-child(3)>img {
    scale: 2.2;
}

.hero-tape-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

@media (max-width: 36em) {
    .hero-view {
        --size: 320px;
    }
}

@media (min-width: 62em) {
    .hero {
        padding-top: 2em;
    }

    .hero-wrap {
        column-gap: 5em;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .hero-view,
    .hero-info {
        width: max-content;
        margin-bottom: 0;
    }

    .hero-view {
        --size: 450px;
    }

    .hero-info-text {
        max-width: 450px;
    }
}