.logo {
    font-size: var(--fs-500);
    font-weight: 500;
    /* text-transform: uppercase; */
    color: var(--type);
    column-gap: 0.5em;
    letter-spacing: 1px;
}

.logo-icon {
    width: 24px;
}