.flyout {
    position: relative;
}

.flyout-menu {
    --size: 36px;
    width: var(--size);
    height: var(--size);
    padding: 0.25em 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    fill: var(--);
    border-radius: 50%;
}

.flyout-list {
    width: 150px;
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 2000;
    padding: 0.25em;
    border-radius: 5px;
    display: none;
    background-color: var(--color-bkgd-400);
    border-radius: 0.375rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.flyout-item {
    --color: var(--);
    --check: none;
    padding: 0.25em;
    margin-bottom: var(--sp-200);
    border-radius: var(--sp-200);
    justify-content: space-between;
    cursor: pointer;
    fill: var(--color);
    color: var(--color);
    user-select: none;
}

.flyout-item:hover {
   color: var(--color-bkgd-600);
    background-color: #f3f4f6 ;
}

.flyout-item:active {
    background-color: #bfdbfe;
}

.flyout-info {
    column-gap: 0.5em;
}

.flyout-mark {
    display: var(--check);
}

.open.flyout-list {
    display: block;
}

.done.flyout-item {
    --color: ;
    --check: flex;
    background-color: var(--);
}