.contact {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: var(--);
    background-image:
    radial-gradient(at 79% 15%, hsla(37, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 26% 63%, hsla(20, 73%, 50%, 1) 0px, transparent 50%);
    /* background-image: url("/icons/mesh-gradient.svg"); */
    background-color: rgb(246, 227, 191);
    background-color: #ef8c2e;
}
.contact-lead, .contact-para{
color: #fff;
}
.contact-wrap {
    align-items: start;
    flex-direction: column-reverse;
}

.contact-para {
    color: var(--);
}

.contact-link {
    display: inline-block;
    margin-right: 1em;
}

.contact-link-email {
    color: #ffffff;
    background-color: #020c16;
}

.contact-link-phone {
    color: #ffffff;
    background-color: #1178D9;
}

.contact-link-phone {
    color: var(--brand);
    background-color: #ffffff;
}

.contact-icon {
    width: 300px;
    align-self: center;
}


@media (min-width: 62em) {
    .contact-wrap {
        align-items: center;
        flex-direction: row;
    }

    .contact-icon {
        width: auto;
    }
}