.testimonials-wrap {
    overflow: hidden;
}

.testimonials-line {
    font-weight: 600;
    margin-bottom: var(--sp-300);
    color: var(--);
}

.testimonials-ctrl {
    padding: 1em 0;
    column-gap: 1em;
    justify-content: center;
}

.testimonials-push {
    --size: 40px;
    width: var(--size);
    height: var(--size);
    cursor: pointer;
    justify-content: center;
    box-shadow: 0 0 0 2px var(--);
    border-radius: 50%;
    background-color: #fcfcfc;
}

@media (min-width: 48em) {}