.blog-list {
    margin-bottom: var(--sp-700);
}

.blog-link {
    color: var(--color-txt-pr-100);
    background-color: var(--color-btn-pr-100);
}

@media (min-width: 62em) {
    .blog-list {
        display: grid;
        grid-template-columns: repeat(auto, 1fr);
        gap: 1em 2em;
    }
}