@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Sora:wght@100..800&display=swap");

@font-face {
    font-family: "GT Walsheim Pro";
    font-weight: 700;
    src: url("/fonts/GT-Walsheim-Pro-700.ttf");
}

@font-face {
    font-family: "GT Walsheim Pro";
    font-weight: 500;
    src: url("/fonts/GT-Walsheim-Pro-500.ttf");
}

@font-face {
    font-family: "GT Walsheim Pro";
    font-weight: 400;
    src: url("/fonts/GT-Walsheim-Pro-400.ttf");
}

@font-face {
    font-family: "GT Walsheim Pro";
    font-weight: 300;
    src: url("/fonts/GT-Walsheim-Pro-300.ttf");
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --md-sys-color-primary-light: rgb(71 35 0);
    --md-sys-color-surface-tint-light: rgb(137 81 30);
    --md-sys-color-on-primary-light: rgb(255 255 255);
    --md-sys-color-primary-container-light: rgb(111 60 10);
    --md-sys-color-on-primary-container-light: rgb(255 255 255);
    --md-sys-color-secondary-light: rgb(61 39 22);
    --md-sys-color-on-secondary-light: rgb(255 255 255);
    --md-sys-color-secondary-container-light: rgb(93 68 48);
    --md-sys-color-on-secondary-container-light: rgb(255 255 255);
    --md-sys-color-tertiary-light: rgb(42 47 8);
    --md-sys-color-on-tertiary-light: rgb(255 255 255);
    --md-sys-color-tertiary-container-light: rgb(71 76 35);
    --md-sys-color-on-tertiary-container-light: rgb(255 255 255);
    --md-sys-color-error-light: rgb(96 0 4);
    --md-sys-color-on-error-light: rgb(255 255 255);
    --md-sys-color-error-container-light: rgb(152 0 10);
    --md-sys-color-on-error-container-light: rgb(255 255 255);
    --md-sys-color-background-light: rgb(255 248 245);
    --md-sys-color-on-background-light: rgb(34 26 20);
    --md-sys-color-surface-light: rgb(255 248 245);
    --md-sys-color-on-surface-light: rgb(0 0 0);
    --md-sys-color-surface-variant-light: rgb(243 223 210);
    --md-sys-color-on-surface-variant-light: rgb(0 0 0);
    --md-sys-color-outline-light: rgb(53 42 33);
    --md-sys-color-outline-variant-light: rgb(84 71 61);
    --md-sys-color-shadow-light: rgb(0 0 0);
    --md-sys-color-scrim-light: rgb(0 0 0);
    --md-sys-color-inverse-surface-light: rgb(56 47 40);
    --md-sys-color-inverse-on-surface-light: rgb(255 255 255);
    --md-sys-color-inverse-primary-light: rgb(255 183 126);
    --md-sys-color-primary-fixed-light: rgb(111 60 10);
    --md-sys-color-on-primary-fixed-light: rgb(255 255 255);
    --md-sys-color-primary-fixed-dim-light: rgb(81 40 0);
    --md-sys-color-on-primary-fixed-variant-light: rgb(255 255 255);
    --md-sys-color-secondary-fixed-light: rgb(93 68 48);
    --md-sys-color-on-secondary-fixed-light: rgb(255 255 255);
    --md-sys-color-secondary-fixed-dim-light: rgb(68 46 28);
    --md-sys-color-on-secondary-fixed-variant-light: rgb(255 255 255);
    --md-sys-color-tertiary-fixed-light: rgb(71 76 35);
    --md-sys-color-on-tertiary-fixed-light: rgb(255 255 255);
    --md-sys-color-tertiary-fixed-dim-light: rgb(49 53 15);
    --md-sys-color-on-tertiary-fixed-variant-light: rgb(255 255 255);
    --md-sys-color-surface-dim-light: rgb(197 182 173);
    --md-sys-color-surface-bright-light: rgb(255 248 245);
    --md-sys-color-surface-container-lowest-light: rgb(255 255 255);
    --md-sys-color-surface-container-low-light: rgb(254 238 228);
    --md-sys-color-surface-container-light: rgb(239 223 214);
    --md-sys-color-surface-container-high-light: rgb(225 209 200);
    --md-sys-color-surface-container-highest-light: rgb(211 196 186);

    --md-sys-color-primary-night: rgb(255 237 225);
    --md-sys-color-surface-tint-night: rgb(255 183 126);
    --md-sys-color-on-primary-night: rgb(0 0 0);
    --md-sys-color-primary-container-night: rgb(252 179 119);
    --md-sys-color-on-primary-container-night: rgb(23 7 0);
    --md-sys-color-secondary-night: rgb(255 237 225);
    --md-sys-color-on-secondary-night: rgb(0 0 0);
    --md-sys-color-secondary-container-night: rgb(223 188 162);
    --md-sys-color-on-secondary-container-night: rgb(23 7 0);
    --md-sys-color-tertiary-night: rgb(239 244 189);
    --md-sys-color-on-tertiary-night: rgb(0 0 0);
    --md-sys-color-tertiary-container-night: rgb(193 199 146);
    --md-sys-color-on-tertiary-container-night: rgb(10 12 0);
    --md-sys-color-error: rgb(255 236 233);
    --md-sys-color-on-error-night: rgb(0 0 0);
    --md-sys-color-error-container-night: rgb(255 174 164);
    --md-sys-color-on-error-container-night: rgb(34 0 1);
    --md-sys-color-background-night: rgb(25 18 12);
    --md-sys-color-on-background-night: rgb(239 223 214);
    --md-sys-color-surface-night: rgb(25 18 12);
    --md-sys-color-on-surface-night: rgb(255 255 255);
    --md-sys-color-surface-variant-night: rgb(81 68 59);
    --md-sys-color-on-surface-variant-night: rgb(255 255 255);
    --md-sys-color-outline-night: rgb(255 237 225);
    --md-sys-color-outline-variant-night: rgb(210 191 179);
    --md-sys-color-shadow-night: rgb(0 0 0);
    --md-sys-color-scrim-night: rgb(0 0 0);
    --md-sys-color-inverse-surface-night: rgb(239 223 214);
    --md-sys-color-inverse-on-surface-night: rgb(0 0 0);
    --md-sys-color-inverse-primary-night: rgb(110 59 8);
    --md-sys-color-primary-fixed-night: rgb(255 220 195);
    --md-sys-color-on-primary-fixed-night: rgb(0 0 0);
    --md-sys-color-primary-fixed-dim-night: rgb(255 183 126);
    --md-sys-color-on-primary-fixed-variant-night: rgb(32 12 0);
    --md-sys-color-secondary-fixed-night: rgb(255 220 195);
    --md-sys-color-on-secondary-fixed-night: rgb(0 0 0);
    --md-sys-color-secondary-fixed-dim-night: rgb(227 192 166);
    --md-sys-color-on-secondary-fixed-variant-night: rgb(30 13 2);
    --md-sys-color-tertiary-fixed-night: rgb(225 231 176);
    --md-sys-color-on-tertiary-fixed-night: rgb(0 0 0);
    --md-sys-color-tertiary-fixed-dim-night: rgb(197 203 150);
    --md-sys-color-on-tertiary-fixed-variant-night: rgb(16 19 0);
    --md-sys-color-surface-dim-night: rgb(25 18 12);
    --md-sys-color-surface-bright-night: rgb(89 78 71);
    --md-sys-color-surface-container-lowest-night: rgb(0 0 0);
    --md-sys-color-surface-container-low-night: rgb(38 30 24);
    --md-sys-color-surface-container-night: rgb(56 47 40);
    --md-sys-color-surface-container-high-night: rgb(67 58 51);
    --md-sys-color-surface-container-highest-night: rgb(79 69 62);
}

:root {
    /* === Light Theme === */
    --color-bkgd-100-light: var(--md-sys-color-background-light);
    --color-bkgd-200-light: var(--md-sys-color-surface-light);
    --color-bkgd-300-light: var(--md-sys-color-surface-container-lowest-light);
    --color-bkgd-400-light: rgb(255, 255, 255);
    --color-bkgd-500-light: rgb(0, 0, 0);
    --color-bkgd-600-ight: var(--color-bkgd-400);

    --color-type-100-light: var(--md-sys-color-on-background-light);
    --color-type-400-light: #fff;
    --color-primary-100-light: #ef8c2e;

    --color-btn-pr-100-light:#ef8c2e;
    --color-txt-pr-100-light:#fff;

    --color-svg-wht: invert(1);
    --footer-wht-color: #f5f5ed;

    
    /* --color-type-200-light: var(--md-sys-color-inverse-on-surface-light); */
    /*
    --color-primary-100-light: #EF8C2E;
    --color-primary-200-light: #D9791C;
    --color-primary-300-light: #C26F17;

    --color-popcorn-100-light: #FFB26B;
    --color-popcorn-200-light: #FFD4A3;

    --color-bkgd-100-light: #FFFFFF;
    --color-bkgd-200-light: #F8F8F8;
    --color-bkgd-300-light: #F0F0F0;
    --color-bkgd-400-light: #1E1A16;

    --color-type-100-light: #1E1E1E;
    --color-type-200-light: #555555;
    --color-type-300-light: #888888;
    --color-type-400-light: #FFFFFF;
    --color-type-500-light: #381A0A;

    --color-line-100-light: #E0E0E0;
    --color-line-200-light: #CCCCCC;

    --color-ring-100-light: hsla(29, 86%, 56%, 0.2);
    --color-ring-200-light: hsla(29, 86%, 56%, 0.4);

    --color-drop-100-light: rgba(239, 140, 46, 0.15);
    --color-drop-200-light: rgba(239, 140, 46, 0.15);

    */
    /* === Night Theme === */
    --color-bkgd-100-night: var(--md-sys-color-background-night);
    --color-bkgd-200-night: var(--md-sys-color-surface-night);
    --color-bkgd-300-night: var(--md-sys-color-surface-container-lowest-night);
    --color-bkgd-400-night: var(--md-sys-color-surface-night);
    --color-bkgd-500-night: var(--color-bkgd-100);
    --color-bkgd-600-night: #000;
    

    --color-type-100-night: var(--md-sys-color-on-background-night);
    --color-type-200-night: var(--md-sys-color-on-surface-night);

    --color-btn-pr-100-night:#fff;
    --color-txt-pr-100-night:#2b1a12;
    --footer-drk-color: ;

    --color-svg-drk: invert(0);

    /*
    --color-primary-100-night: #EF8C2E;
    --color-primary-200-night: #FF9D42;
    --color-primary-300-night: #FFB366;

    --color-popcorn-100-night: #FFA64B;
    --color-popcorn-200-night: #FFCD91;

    --color-bkgd-100-night: #121212;
    --color-bkgd-200-night: #1E1E1E;
    --color-bkgd-300-night: #2A2A2A;
    --color-bkgd-400-night: #F6F3EF;

    --color-type-100-night: #F1F1F1;
    --color-type-200-night: #BBBBBB;
    --color-type-300-night: #888888;
    --color-type-400-night: #FFFFFF;
    --color-type-500-night: #F5A75A;

    --color-line-100-night: #333333;
    --color-line-200-night: #444444;

    --color-ring-100-night: hsla(29, 86%, 56%, 0.2);
    --color-ring-200-night: hsla(29, 86%, 56%, 0.4);

    --color-drop-100-night: rgba(239, 140, 46, 0.2);
    --color-drop-200-night: rgba(239, 140, 46, 0.3);

    */

    /*  */
    --ff-body: "GT Walsheim Pro", sans-serif;
    --ff-head: "GT Walsheim Pro", serif;

    --fs-700: 1.5rem;
    --fs-600: 1.25rem;
    --fs-500: 1.125rem;
    --fs-400: 1rem;
    --fs-300: 0.9375rem;
    --fs-200: 0.625rem;

    --sp-900: 5rem;
    --sp-800: 2.5rem;
    --sp-700: 2rem;
    --sp-600: 1.25rem;
    --sp-500: 1rem;
    --sp-400: 0.75rem;
    --sp-300: 0.5rem;
    --sp-200: 0.25rem;

    --header: 5rem;

    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
    :root {
        --color-primary-100: var(--color-primary-100-light);
        --color-primary-200: var(--color-primary-200-light);
        --color-primary-300: var(--color-primary-300-light);

        --color-popcorn-100: var(--color-popcorn-100-light);
        --color-popcorn-200: var(--color-popcorn-200-light);

        --color-bkgd-100: var(--color-bkgd-100-light);
        --color-bkgd-200: var(--color-bkgd-200-light);
        --color-bkgd-300: var(--color-bkgd-300-light);
        --color-bkgd-400: var(--color-bkgd-400-light);

        --color-type-100: var(--color-type-100-light);
        --color-type-200: var(--color-type-200-light);
        --color-type-300: var(--color-type-300-light);
        --color-type-400: var(--color-type-400-light);
        --color-type-500: var(--color-type-500-light);

        --color-line-100: var(--color-line-100-light);
        --color-line-200: var(--color-line-200-light);

        --color-ring-100: var(--color-ring-100-light);
        --color-ring-200: var(--color-ring-200-light);

        --color-drop-100: var(--color-drop-100-light);
        --color-drop-200: var(--color-drop-200-light);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-primary-100: var(--color-primary-100-night);
        --color-primary-200: var(--color-primary-200-night);
        --color-primary-300: var(--color-primary-300-night);

        --color-popcorn-100: var(--color-popcorn-100-night);
        --color-popcorn-200: var(--color-popcorn-200-night);

        --color-bkgd-100: var(--color-bkgd-100-night);
        --color-bkgd-200: var(--color-bkgd-200-night);
        --color-bkgd-300: var(--color-bkgd-300-night);
        --color-bkgd-400: var(--color-bkgd-400-night);

        --color-type-100: var(--color-type-100-night);
        --color-type-200: var(--color-type-200-night);
        --color-type-300: var(--color-type-300-night);
        --color-type-400: var(--color-type-400-night);
        --color-type-500: var(--color-type-500-night);

        --color-line-100: var(--color-line-100-night);
        --color-line-200: var(--color-line-200-night);

        --color-ring-100: var(--color-ring-100-night);
        --color-ring-200: var(--color-ring-200-night);

        --color-drop-100: var(--color-drop-100-night);
        --color-drop-200: var(--color-drop-200-night);
    }
}

[color-scheme="light"] {
    --color-primary-100: var(--color-primary-100-light);
    --color-primary-200: var(--color-primary-200-light);
    --color-primary-300: var(--color-primary-300-light);

    --color-popcorn-100: var(--color-popcorn-100-light);
    --color-popcorn-200: var(--color-popcorn-200-light);

    --color-bkgd-100: var(--color-bkgd-100-light);
    --color-bkgd-200: var(--color-bkgd-200-light);
    --color-bkgd-300: var(--color-bkgd-300-light);
    --color-bkgd-400: var(--color-bkgd-400-light);
    --color-bkgd-500: var(--color-bkgd-500-light);

    --color-btn-pr-100: var(--color-btn-pr-100-light);
    --color-txt-pr-100: var(--color-txt-pr-100-light);

    --invert-svg: var(--color-svg-drk);
    --color-footer: var(--footer-wht-color);
    
    --color-type-100: var(--color-type-100-light);
    --color-type-200: var(--color-type-200-light);
    --color-type-300: var(--color-type-300-light);
    --color-type-400: var(--color-type-400-light);
    --color-type-500: var(--color-type-500-light);

    --color-line-100: var(--color-line-100-light);
    --color-line-200: var(--color-line-200-light);

    --color-ring-100: var(--color-ring-100-light);
    --color-ring-200: var(--color-ring-200-light);

    --color-drop-100: var(--color-drop-100-light);
    --color-drop-200: var(--color-drop-200-light);
}

[color-scheme="night"] {
    --color-primary-100: var(--color-primary-100-night);
    --color-primary-200: var(--color-primary-200-night);
    --color-primary-300: var(--color-primary-300-night);

    --color-popcorn-100: var(--color-popcorn-100-night);
    --color-popcorn-200: var(--color-popcorn-200-night);

    --color-bkgd-100: var(--color-bkgd-100-night);
    --color-bkgd-200: var(--color-bkgd-200-night);
    --color-bkgd-300: var(--color-bkgd-300-night);
    --color-bkgd-400: var(--color-bkgd-400-night);
    --color-bkgd-500: var(--color-bkgd-500-night);
    --color-bkgd-600: var(--color-bkgd-600-night);

    --color-btn-pr-100: var(--color-btn-pr-100-night);
    --color-txt-pr-100: var(--color-txt-pr-100-night);

    --invert-svg: var(--color-svg-wht);
    --color-footer: var(--footer-drk-color);

    --color-type-100: var(--color-type-100-night);
    --color-type-200: var(--color-type-200-night);
    --color-type-300: var(--color-type-300-night);
    --color-type-400: var(--color-type-400-night);
    --color-type-500: var(--color-type-500-night);

    --color-line-100: var(--color-line-100-night);
    --color-line-200: var(--color-line-200-night);

    --color-ring-100: var(--color-ring-100-night);
    --color-ring-200: var(--color-ring-200-night);

    --color-drop-100: var(--color-drop-100-night);
    --color-drop-200: var(--color-drop-200-night);
}

@media (min-width: 992px) {
    :root {
        --fs-700: 2.25rem;
        --fs-600: 1.75rem;
        --fs-500: 1.25rem;
        --fs-400: 1.125rem;
        --fs-300: 0.9375rem;
        --fs-200: 0.8125rem;
    }
}

body {
    position: relative;
    font-size: var(--fs-400);
    font-family: var(--ff-body);
    background-color: var(--color-bkgd-100);
    color: var(--color-type-100);
}

ul {
    list-style: none;
}

h1,
h2,
h3 {
    color: var(--color-type-100);
    font-family: var(--ff-head);
    line-height: 1.2;
    text-transform: uppercase;
}

h1 {
    font-size: var(--fs-700);
    font-weight: 700;
    margin-bottom: var(--sp-700);
}

h2 {
    font-size: var(--fs-600);
    font-weight: 600;
    margin-bottom: var(--sp-600);
}

h3 {
    font-size: var(--fs-500);
    font-weight: 500;
    margin-bottom: var(--sp-500);
}

p {
    /* color: var(--color-type-200); */
    line-height: 1.6;
    margin-bottom: var(--sp-700);
}

a {
    color: var(--color-type-500);
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

input,
button {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: inherit;
    font-family: inherit;
}

button {
    cursor: pointer;
}

section {
    padding-top: 4em;
    padding-bottom: 3em;
}

/* Utilities */
.wrap {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

.flex {
    display: flex;
    align-items: center;
}

.btn {
    width: max-content;
    display: block;
    padding: 0.75em 1em;
    border-radius: 5px;
    font-weight: 500;
}

.line {
    width: max-content;
    position: relative;
    white-space: nowrap;
}

.line::after {
    content: "";
    width: 100%;
    height: 12px;
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("/icons/underline.svg");
    background-repeat: no-repeat;
    background-size: cover;
}