.blog-card {
    padding: 0.75em;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: var(--sp-700);
    background-color: var(--);
}

.blog-card-case {
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: var(--sp-600);
}

.blog-card-pics {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top left;
}

.blog-card-info {
    padding-inline: 0.5em;
}

.blog-card-lead {
    font-family: var(--ff-head);
    margin-bottom: var(--sp-300);
    color: var(--);
}

.blog-card-desc {
    margin-bottom: var(--sp-500);
}

.blog-card-date {
    margin-bottom: var(--sp-200);
}

.blog-card-link {
    column-gap: 0.5em;
    margin-bottom: var(--sp-300);
}


@media (min-width: 62em) {
    .blog-card {
        margin-bottom: 0;
    }

    .blog-card:nth-child(1) {
        grid-row: 1 / 3;
        grid-column: 1 / 2;
        row-gap: 1em;
    }
    
    .blog-card:nth-child(2),
    .blog-card:nth-child(3) {
        grid-column: 2 / 3;
        align-items: center;
        flex-direction: row;
        column-gap: 1em;
    }

    .blog-card:nth-child(1) > .blog-card-case {
        margin-bottom: 0;
    }

    .blog-card:nth-child(1) > .blog-card-info {
        height: max-content;
    }

    .blog-card:nth-child(2) > .blog-card-case,
    .blog-card:nth-child(3) > .blog-card-case {
        flex: 1;
        height: 180px;
        /* height: auto; */
        margin-bottom: 0;
    }

    .blog-card:nth-child(2) > .blog-card-info,
    .blog-card:nth-child(3) > .blog-card-info {
        flex: 2;
        padding: 0;
    }
}